<div class="container ">
<div class="card mb-3 card-axie "  style="max-width: 100%; max-height: 200px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/img/SLP1-01.png" width="100%" alt="SLP">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SLP</h5>
          <p class="card-text"><small class="text-muted">Smooth Love Potion</small></p>
          <p class="card-text">Los jugadores de Axie Infinity pueden ganar fichas
              de Smooth Love Potion(SLP) como recompensa a través del modo batalla 
              o aventura. SLP son tokens que se pueden usar para criar nuevas mascotas
              digitales, conocidas como Axies. Se conocía formalmente como Small Love
              Potion antes de la actualización del token a la cadena de bloques Ronin. 
          </p>
          
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container ">
  <div class="card mb-3 card-axie2 "  style="max-width: 100%; max-height: 200px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/img/cripto1-01.png" width="100%" alt="billetera">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BILLETERA </h5>
          <p class="card-text"><small class="text-muted">De Criptomonedas</small></p>
          <p class="card-text">Una billetera de criptomonedas es una aplicación que permite
              a los usuarios de criptomonedas, y tokens digitales, almacenar sus activos
              digitales.Al igual que con la moneda convencional,no es necesario un monedero
              para gastar el dinero, pero sin duda ayuda a mantenerlo todo en un solo lugar.
              cuando un usuario adquiere una criptodivisa, puede almocenarla en un monedero de 
              criptodivisas y desde allí utilizarla para realizar transacciones. 
          </p>
          
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container ">
  <div class="card mb-3 card-axie3"  style="max-width: 100%; max-height: 200px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/img/beca2-01.PNG"  width="100%" alt="beca">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BECA</h5>
          <p class="card-text"><small class="text-muted">Scholarship</small></p>
          <p class="card-text">Una beca es una cuenta, funcional y lista para jugar,que una 
              persona(becario) pone a disposicipon de otra (becado). Las becas son un acerdo
              entre ambas partes,en la cual el becario invierte en la adquisición de los Axies
              para la cuenta y le entrega a su becado un acceso "limitado" a la cuenta para
              que este pueda ingresar a jugar gratuitamente con la cuenta, sin darle acceso
              a la integridad de los tokens (Axies, SLP, AXS, LANDS y WETH). 
          </p>
         
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container ">
  <div class="card mb-3 card-axie4"  style="max-width: 100%; max-height: 200px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/img/Habilidades-01.png"  width="100%" alt="habilidades">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ESTADÍSTICAS</h5>
          <p class="card-text"><small class="text-muted">De un Axie</small></p>
          <p class="card-text">los Axies tienen 4 estadpisticas básicas, estas son determinadas
              por la clase del Axie y por sus partes. 
              VITALIDAD / HP : Son los puntos máximos de vida de un Axie.  
              HABILIDAD / SKILL : Añade daño cuando un Axie juega varias cartas a la vez (combo). 
              VELOCIDAD / SPEED : Determina el orden de los turnos,los Axies más rapidos atacan primero.
              MORAL : Aumenta la posibilidad de golpe crítico.

          </p>
         
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container ">
  <div class="card mb-3 card-axie5"  style="max-width: 100%; max-height: 200px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/img/level-02.png"  width="100%" alt="nivel">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">NIVEL</h5>
          <p class="card-text"><small class="text-muted">De un Axie</small></p>
          <p class="card-text">El nivel de un Axie incrementa las estadísticas base del Axie
              (Vitalidad, Velocidad, Habilidad y Moral), así como también incrementa el ataque
              y escudo que poseen las cartas del Axie. para subir de nivel los Axies necesitan 
              ganar experiencia, la cual se obtiene en las Ruinas de Lunacia, dentro del modo
              Aventura, si se ha usado una carga de energía diaria al completar la ruina.
          </p>
         
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container ">
  <div class="card mb-3 card-axie6"  style="max-width: 100%; max-height: 200px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/img/last-03.png" width="100%" alt="última partida">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ÚLTIMA BATALLA</h5>
          <p class="card-text"><small class="text-muted">last stand </small></p>
          <p class="card-text">Cuando los puntos de Vitalidad de un Axie llegan a 0 hay 
              una posibilidad de eludir temporalmente el ser noqueado, adquiriendo una 
              cantidad de stacks que se van gastando conforme se juegan cartas en la 
              ronda o al recibir daño, a este estado en el que entra el Axie se le conoce
              como Última Batalla.
          </p>
          
        </div>
      </div>
    </div>
  </div>

</div>

