<app-navbar></app-navbar>
<body class="bg-bicho">
  <section class="screen-from">
   

    <div class="bg-white form-container">
      <form>
        <div>
          <h1 class="header-color">Login</h1>
        </div>

      
        <div class="input-container">
          <label for="usuario">Usuario</label>
          <input type="text" id="usuario" placeholder="Ingresa tu email" />
        </div>

        <div class="input-container">
          <label for="password">Contraseña</label>
          <input
            type="password"
            id="password"
            placeholder="Ingresa la contraseña"
          />
        </div>

        <div class="checkbox-container">
          <input type="checkbox" id="check" />
          <label for="check">¿Deseas recuperar la contraseña?</label>

          <div class="btn-login-container">
            <button type="submit" onclick="vinculo()">Iniciar Sesion</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</body>
