<app-navbar></app-navbar>

<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img src="../../../assets/img/rrrrr-04.png" alt="axie1" />
  </div>
  <div class="carousel-caption"></div>
</ng-template>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/ms-04.png" alt="axie2" />
    </div>
    <div class="carousel-caption"></div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/pasaisaje-04.png" alt="axie3" />
    </div>
    <div class="carousel-caption"></div>
  </ng-template>
</ngb-carousel>

<app-mission></app-mission>
<app-footer></app-footer>
