.one-axies{
    margin: 200px ;
    padding: 50px;
    border-radius: 7px;
    background: rgb(245, 240, 240);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2) ;
    cursor: default;
    transition: all 500ms ease;

}
.one-axies:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.tipo-letra{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
