<div class="card text-center one-axies">
    
  
      <h1 class="card-title">¿QUÉ ES AXIE INFÍNITY?</h1>
      <h3 class="card-text tipo-letra">Axie Infínity es un universo digital de mascotas donde los jugadores luchan, crían y comercian con criaturas
          de fantasía llamadas Axies. Inspirado en Pokémon, Tamagotchi y juegos de cartas, ha crecido hasta convertirse en el juego 
          de tokens no fungibles, o NFT, número uno en la cadena de bloques Ethereum.        
      </h3>
     
    </div>
    
 
