<app-navbar></app-navbar>


<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img src="../../../assets/img/axie2.jpg" alt="axie1">
      </div>
      <div class="carousel-caption">
       </div>

    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper ">
          <img src="../../../assets/img/123-04.png" alt="axie2">
        </div>
        <div class="carousel-caption">
         </div>
  
      </ng-template>
  </ngb-carousel>
  <app-third></app-third>
  <app-footer></app-footer>