<div class="container mg-axie">
<div class="card-deck">
    <div class="card">
      <img src="../../../assets/img/card1.PNG" class="card-img-top" alt="bicho1">
      <div class="card-body">
        <h5 class="card-title">Axie I </h5>
        <p class="card-text">#2345656</p>
       </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/card2.PNG" class="card-img-top" alt="bicho2">
      <div class="card-body">
        <h5 class="card-title">Axie II</h5>
        <p class="card-text">#2444666</p>
        </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/card3.PNG" class="card-img-top" alt="bicho3">
      <div class="card-body">
        <h5 class="card-title">Axie III</h5>
        <p class="card-text">#2335666</p>
        </div>
    </div>
  </div>

 
  <div class="card-deck two-axie">
    <div class="card">
      <img src="../../../assets/img/card4.jpg" class="card-img-top" alt="bicho4">
      <div class="card-body">
        <h5 class="card-title">Axie IV</h5>
        <p class="card-text">#2440000</p>
        </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/card5.jpg" class="card-img-top" alt="bicho5">
      <div class="card-body">
        <h5 class="card-title">Axie V</h5>
        <p class="card-text">#2212366</p>
        </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/card6.jpg" class="card-img-top" alt="bicho6">
      <div class="card-body">
        <h5 class="card-title">Axie VI</h5>
        <p class="card-text">#2487696</p>
        </div>
    </div>
  </div>

</div>

