<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a href="https://axieinfinity.com/ ">
        <img src="../../../assets/img/axieInfinity.png" width="3%"
      /></a>

      <a class="m-2"></a>
      <a href="https://discord.com/invite/axie">
        <img src="../../../assets/img/discord.png" width="3%"
      /></a>

      <a class="m-2"></a>
      <a href="https://www.facebook.com/axieinfinity.la">
        <img src="../../../assets/img/Facebook.png" width="3%"
      /></a>

      <a class="m-2"></a>
      <a href="https://twitter.com/axieinfinity">
        <img src="../../../assets/img/twiter.png" width="3%"
      /></a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Natalia Reyes Gómez
  </div>
</footer>
